<script lang="ts" setup>
defineProps({
  name: {
    type: String,
    default: ''
  },
  price: {
    type: Number,
    default: 0
  },
})
</script>

<template>
  <tr>
    <td>{{name}}</td>
    <td>{{(price)}}</td>
  </tr>
</template>

<style scoped>
td {
  border: 1px solid black;
  text-align: left;
}
</style>
